.header {
  @apply p-2 flex justify-end bg-header border-b-[1px] border-b-border;
}

.main {
  h1 {
    @apply text-4xl font-bold;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logout-btn {
  @apply px-6 py-3 rounded bg-primary text-on-primary;
}
