@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1440px;
  --border-radius: 12px;

  --font-sans: 'Inter', sans-serif;
  --font-serif: Cambria, 'Hoefler Text', Utopia, 'Liberation Serif',
    'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;

  --theme-color-primary: #7baa47;
  --theme-color-primary-variant: #547430;
  --theme-color-on-primary: #ffffff;

  --theme-color-error: #990000;
  --theme-color-background: #f6f7f9;
  --theme-color-surface: #ffffff;

  --theme-color-on-error: #ffffff;
  --theme-color-on-background: #171717;
  --theme-color-on-surface: #171717;
}

body {
  color: var(--theme-color-on-background);
  background: var(--theme-color-background);
  font-family: var(--font-sans);
}
